<div class="movie-update">
    <div class="update-btn-list">
        <ul class="nav nav-tabs">
            <li class="nav-item"><a href="#list1" class="nav-link active" data-toggle="tab">Phim lẻ
                    mới</a></li>
            <li class="nav-item"><a href="#list2" class="nav-link" data-toggle="tab">Phim bộ mới</a>
            </li>
        </ul>
    </div>
    <div class="tab-content nice-scroll">
        <div id="list1" class="tab-pane active">
            <% movies.forEach(function(movie) { %>
            <a href="#" data-target="<%= movie._id %>">
                <div class="movie-link movie-thumb-sm">
                    <img class="figure" src="<%= movie.thumbnail %>" alt="<%= movie.title_vn %>">
                    <div class="movie-info">
                        <p class="movie-title-vn"><%= movie.title_vn %></p>
                        <p class="movie-title-en"><%= movie.title_en %></p>
                    </div>
                    <div class="time"><%= movie.time %> phút</div>
                </div>
            </a>
            <% }); %>
        </div>
        <div id="list2" class="tab-pane fade">
            <% series.forEach(function(movie) { %>
            <a href="#" data-target="<%= movie._id %>">
                <div class="movie-link movie-thumb-sm">
                    <img class="figure" src="<%= movie.thumbnail %>" alt="<%= movie.title_vn %>">
                    <div class="movie-info">
                        <p class="movie-title-vn"><%= movie.title_vn %></p>
                        <p class="movie-title-en"><%= movie.title_en %></p>
                    </div>
                    <div class="time"><%= movie.time %> phút / tập</div>
                </div>
            </a>
            <% }); %>
        </div>
    </div>
</div>
<div class="movie-cate">
    <div class="movie-cate-header">
        <div class="section-title">PHIM HÀNH ĐỘNG MỚI</div>
        <a class="more-btn" href="">Xem tất cả ></a>
    </div>
    <hr>
    <div class="movie-cate-list">
        <div class="row">
            <ul>
                <% actionMovies.forEach(function(movie) { %>
                <li>
                    <a href="#" data-target="<%= movie._id %>">
                        <div class="movie-link movie-thumb-md" title="Chú hề ma quái 2">
                            <img class="thumb-bg" src="<%= movie.thumbnail %>" alt="<%= movie.title_vn %>">
                            <div class="movie-info">
                                <div class="movie-title-vn"><%= movie.title_vn %></div>
                                <div class="movie-title-en"><%= movie.title_en %></div>
                            </div>
                            <div class="time"><%= movie.time %> phút</div>
                        </div>
                    </a>
                </li>
                <% });%>
            </ul>
        </div>
    </div>
</div>
<div class="movie-cate">
    <div class="movie-cate-header">
        <div class="section-title">PHIM VIỄN TƯỞNG MỚI</div>
        <a class="more-btn" href="">Xem tất cả ></a>
    </div>
    <hr>
    <div class="movie-cate-list">
        <div class="row">
            <ul>
                <% scifiMovies.forEach(function(movie) { %>
                <li>
                    <a href="#" data-target="<%= movie._id %>">
                        <div class="movie-link movie-thumb-md" title="Chú hề ma quái 2">
                            <img class="thumb-bg" src="<%= movie.thumbnail %>" alt="<%= movie.title_vn %>">
                            <div class="movie-info">
                                <div class="movie-title-vn"><%= movie.title_vn %></div>
                                <div class="movie-title-en"><%= movie.title_en %></div>
                            </div>
                            <div class="time"><%= movie.time %> phút</div>
                        </div>
                    </a>
                </li>
                <% });%>
            </ul>
        </div>
    </div>
</div>
<div class="movie-cate">
    <div class="movie-cate-header">
        <div class="section-title">PHIM KINH DỊ MỚI</div>
        <a class="more-btn" href="">Xem tất cả ></a>
    </div>
    <hr>
    <div class="movie-cate-list">
        <div class="row">
            <ul>
                <% scaryMovies.forEach(function(movie) { %>
                <li>
                    <a href="#" data-target="<%= movie._id %>">
                        <div class="movie-link movie-thumb-md" title="Chú hề ma quái 2">
                            <img class="thumb-bg" src="<%= movie.thumbnail %>" alt="<%= movie.title_vn %>">
                            <div class="movie-info">
                                <div class="movie-title-vn"><%= movie.title_vn %></div>
                                <div class="movie-title-en"><%= movie.title_en %></div>
                            </div>
                            <div class="time"><%= movie.time %> phút</div>
                        </div>
                    </a>
                </li>
                <% });%>
            </ul>
        </div>
    </div>
</div>