<div class="section-title">PHIM ĐỀ CỬ</div>
<hr>
<div class="top-movie-list">
    <a href="#" class="prev-btn">
        <span class="arrow-icon"></span>
    </a>
    <a href="#" class="next-btn">
        <span class="arrow-icon"></span>
    </a>
    <div class="top-movie-wrapper">
        <% newestMovies.forEach(function(movie) { %>
        <a href="#" data-target="<%= movie._id %>">
            <div class="movie-link movie-thumb-big" title="<%= movie.title_vn %>">
                <img class="thumb-bg" src="<%= movie.thumbnail %>" alt="<%= movie.title_vn %>">
                <div class="movie-info">
                    <div class="movie-title-vn"><%= movie.title_vn %></div>
                    <div class="movie-title-en"><%= movie.title_en %></div>
                </div>
                <div class="time"><%= movie.time %> phút</div>
            </div>
        </a>
        <% }); %>
    </div>
</div>